{{ define "main" }}

{{/*  
    {{ $sectionA_pages := where .Site.RegularPages "Section" "clients" }}
    {{ $sectionB_pages := where .Site.RegularPages "Section" "projects" }}
     {{ $combined_pages := $sectionA_pages | union $sectionB_pages }}

echo {{ $combined_pages }}

 */}}
{{/*  
{{ $pages := where .Site.RegularPages "Type" "not in" (slice "page" "about") }}
    {{ range $pages  }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
echo {{ .Params.image }}
        <img src="{{ urls.RelRef .page .Params.image }}" alt="{{ .Title }}" class="img-responsive">

    </a>
{{ end }}   */}}

<h1>Latest Projects:</h1>

<div class="image-grid">
    {{ with .Site.GetPage "/projects" }}
    {{ range first 6 (sort .Pages "Date" "desc")}}
    <a href="{{ .Permalink }}" title="{{ .Title }}">
        <h2>{{ .Title }}</h2>
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "400x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
    </a>
    {{ end }}
    {{ end }}
</div>

{{ end }}